{% extends "admin/change_list.html" %}

{% block object-tools-items %}
  {% if has_add_permission %}
    {% include "admin/import_export/change_list_import_item.html" %}
    {% include "admin/import_export/change_list_export_item.html" %}
  {% endif %}
  {{ block.super }}
  <li>
    <a class="historylink" href="{{ request.path }}updatesystables/"
      title="Update system tables related to word (all data)">
      Update Sys_Word Tables
    </a>
    <a class="historylink" href="{{ request.path }}appendsystables/"
      title="Do 'Update Sys_Word Tables' operation only for a limited number of table data. (to avoid REQUEST TIMEOUT)
      You need to try this operation several times.">
      Append Sys_Word Tables
    </a>
  </li>
{% endblock %}