@import url('https://fonts.googleapis.com/css?family=K2D|Noto+Sans+JP&display=swap');

body {
    font-family: 'Noto Sans JP', sans-serif;
    font-family: 'K2D', sans-serif;
}
a.title {
    max-width: 70%;
    height: auto;
}
.navbar-toggler {
    border-color: rgb(9,127,157);
    bottom: 0;
} 
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(9,127,157, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }
#nav-items {
    margin-bottom: 10px;
}
li.nav-item-base {
    text-align: center;
}
div.btn-group {
    align-self: flex-end;
}
div.btn-dic {
    width: 114px;
    height: 57px;
    background-image: url("../img/btn-dic.png");
    background-repeat: no-repeat;
    background-position: center bottom;
    flex-shrink: 0;
}
div.btn-req {
    width: 97px;
    height: 57px;
    background-image: url("../img/btn-req.png");
    background-repeat: no-repeat;
    background-position: center bottom;
    margin-left: 10px;
    flex-shrink: 0;
}
a.btn-link {
    padding-top: 1.2rem;
}
input.flag {
    max-width: 100%;
    height: auto;
    background-position: center bottom;
}
.menu-img {
    max-height: 21px;
    width: auto;
}
.menu-span {
    vertical-align: middle;
    margin-right: 10px;
}

/* *** Floating Icons (shown in big screen) *** */
.icon_div {
    display: none; /* only shown in big screen */

    width: 250px;
    height: 50px;
    position: fixed;
    z-index: 1030;
    right: -210px;
    top: 30px; /* must be changed by each icon */
    background: rgba(9, 127, 157, 0.9);
    border-radius: 25px;
    overflow: hidden;
    transition: right 0.5s;
    /* this is for click event bug of iOS */
    cursor: pointer;
}
.icon_div.openning {
    right: -30px;
}
.icon_div.opened {
    right: -30px;
}
.icon_div a {
    color: #fff;
    font-weight: 900;
    position: relative;
    display: block;
    height: 50px;
    line-height: 50px;
    text-decoration: none;
    padding-left: 50px;
    padding-right: 30px;
}
.icon_div a:visited {
    color: #fff;
}
.icon_div a::before {
    font-family: 'Font Awesome 5 Free';
    content: '\f128';
    font-size: 30px;
    position: absolute;
    width: 25px;
    height: 25px;
    top: 0px;
    left: 10px;
    margin: auto;
    text-align: center;

}

/* About Page Link Icon */
#icon_about {
    top: 30px;
}
#icon_about a::before{
    content: '\f129';
}

/* Settings for PC */
@media only screen and (min-width : 768px) {
    body {
        /* without this, window elements will move with every search */
        overflow-y: scroll;
    }

    .icon_div {
        display: inherit;
    }
}